---
import * as Math from '../../../packages/astro-katex/index';
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro KaTeX</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">

		<style>
			:root {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			body {
				max-width: 450px;
				padding: 10px;
				margin: 0 auto;
			}

			p {
				font-weight: 400;
				color: #636363;
				font-size: 1.2rem;
				line-height: 1.5;
			}

			h2, h3 {
				color: #121212;
			}

			h2 {
				font-size: 1.6rem;
			}

			h3 {
				font-size: 1.4rem;
			}

			table,td {
				border: 2px solid #676767;
				cellpadding: 0;
			}

			table  {
				border-collapse:collapse;
				margin: 0 auto;
			}
		</style>
	
	</head>

	<body>
	<Header />
	 <Math.AstroKatex>
		<h2>Limits an Introduction</h2>
		<h3>Approaching</h3>
		<p>Sometimes we can't work something out directly ... but we can see what it should be as we get closer and closer!</p>
		<p>Example:</p>
			{`$$\\frac{(x^2-1)}{(x-1)}$$`}
	 	<p>Let's work it out for x=1:</p>
		 	{String.raw`$$\frac{\lparen 1^2-1\rparen}{\lparen 1-1\rparen} = \frac{\lparen x^2-1\rparen}{\lparen x-1\rparen} = \frac{0}{0}$$`}
		<p>Now 0/0 is a difficulty! We don't really know the value of 0/0 (it is <strong>"indeterminate"</strong>), so we need another way of answering this.</p>

		<p>So instead of trying to work it out for x=1 let's try approaching it closer and closer:</p>
		
		 <p>Example Continued:</p>
		<table>
			<tr>
				<td>X</td>
				<td>{`$$\\frac{(x^2-1)}{(x-1)}$$`}</td>
			</tr>
			<tr>
				<td>0.5</td>
				<td>1.50000</td>
			</tr>
			<tr>
				<td>0.9</td>
				<td>1.90000</td>
			</tr>
			<tr>
				<td>0.99</td>
				<td>1.99000</td>
			</tr>
			<tr>
				<td>0.999</td>
				<td>1.99900</td>
			</tr>
			<tr>
				<td>0.9999</td>
				<td>1.99990</td>
			</tr>
			<tr>
				<td>0,99999</td>
				<td>1,999999</td>
			</tr>
			</table>
			<p>Now we see that as x gets close to 1, then {`\\(\\frac{(x^2-1)}{(x-1)}\\)`} gets close to 2</p>
			<p>We are now faced with an interesting situation:</p>
			<p>When x=1 we don't know the answer (it is <strong>indeterminate</strong>)</p>
			<p>But we can see that it is going to be 2</p>
			<p>We want to give the answer "2" but can't, so instead mathematicians say exactly what is going on by using the special word <strong>"limit"</strong>.</p>
			<p>The limit of {`\\(\\frac{(x^2-1)}{(x-1)}\\)`} as x approaches 1 is 2</p>
			<p>And it is written in symbols as:</p>
			 {String.raw`\[ \lim_{x\to1} \frac{(x^2-1)}{(x-1)} = 2 \]`}
			<p>So it is a special way of saying, "ignoring what happens when we get there, but as we get closer and closer the answer gets closer and closer to 2"</p>
			<p>So, in truth, we cannot say what the value at x=1 is.</p>
			<p>But we can say that as we approach 1, the limit is 2.</p>
     </Math.AstroKatex>
	  <Math.ATIVE_KATEX></Math.ATIVE_KATEX>
	</body>
</html>
